/*Large Background Image*/
html {
  background: url(../img/donuts.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* This is a fallback for the translucent background for older browsers */
  background: #a90662;
  background: rgba(169, 6, 98, 0.8);
  color: #fff;
  font-family: 'Grandiflora One', cursive;
  font-size: 2.25rem;
  line-height: 2.5;
  text-align: center;
  border-radius: 10px;
  width: 800px;
  height: 200px;
}

.main-paragraph {
  width: 75%;
}

.content p span {
  font-family: 'Style Script', cursive;
  font-size: 3.5rem;
}